// Styles for form elements

input[type="checkbox"] {
  display: none;

  &:checked + label.checkbox {
    color: $button-primary;
    // font-weight: 500;

    &:before {
      background: $button-primary;
      box-shadow: 0px 4px 4px rgba(0, 102, 245, 0.18);
    }
    &:after {
      content: "";
      position: absolute;
      left: 0.188em;
      top: 0.48em;
      width: 10px;
      height: 10px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("./../../svg/check-white.svg");
    }
  }
}

label {
  display: block;
  text-align: left;
  font-size: 0.85rem;
  font-weight: 500;
  color: rgba($black, 0.8);
  margin-bottom: 5px;

  &.label--center {
    text-align: center;
  }

  &.radio {
    position: relative;
    opacity: 1;
    margin-bottom: 28px;
    font-size: 1.05rem;
    padding-left: 2.2rem;
    cursor: pointer;

    span {
      display: block;
      color: inherit;
    }

    @include screen(small) {
      font-size: 0.96rem;
    }

    &:before {
      content: "";
      transition-property: box-shadow, background-color;
      transition-timing-function: ease;
      transition-duration: 300ms;
      position: absolute;
      padding: 0;
      left: 0;
      top: 0.18em;
      height: 18px;
      width: 18px;
      background-color: rgba($button-primary, 0.1);
      border-radius: 100%;

      @include screen(small) {
        left: 4px;
      }
    }
  }

  &.checkbox {
    position: relative;
    opacity: 1;
    margin-bottom: 28px;
    font-size: 14px;
    padding-left: 2.2rem;
    cursor: pointer;
    color: rgba($button-primary, 0.5);
    line-height: 1.5;

    span {
      display: block;
      color: inherit;
    }

    &:before {
      content: "";
      transition-property: box-shadow, background-color;
      transition-timing-function: ease;
      transition-duration: 300ms;
      position: absolute;
      padding: 0;
      left: 0;
      top: 0.2em;
      height: 16px;
      width: 16px;
      background-color: rgba($button-primary, 0.1);
      border-radius: 3px;
    }
  }
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 300ms ease-in, color 1s linear;
  width: 100%;
  display: block;
  background-color: transparent;
  border-radius: 4px;
  outline: none;
  color: $black;
  border: 1px solid rgba(#9da0ab, 0.5);
  font-size: 0.95rem;

  @include screen(small) {
    font-size: 16px;
  }

  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;

  &:focus {
    border-color: lighten($button-primary, 20);
    outline: none;
    transition: border 300ms ease-in;
  }
}

.input-field__wrapper {
  margin-bottom: 20px;
  position: relative;
}
